<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nihaov.photograph.dao.IHotDAO">
    <select id="select" resultType="com.nihaov.photograph.pojo.po.HotKeywordPO">
        select * from tb_hot_keyword order by sum desc
        <if test="limit!=null">
            limit #{limit}
        </if>
    </select>
</mapper>